.topTitle {
  text-align: center;
}
.topTitle img {
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
  cursor: pointer;
}

.catchImg img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}

.menuNav {
  margin: 10px 0 20px;
}
.menuNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}
.menuNav ul li {
  width: 9%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 5px solid rgba(208, 128, 71, 0);
}
.menuNav ul li a {
  display: block;
  font-size: 18px;
  width: 100%;
  padding-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menuNav ul li:hover {
  border-bottom: 5px solid #d08047;
}
.menuNav ul a:hover {
  color: #D08047;
}

.main h2 {
  font-size: 16px;
  background-color: #d08047;
  border-radius: 8px;
  color: #fff;
  padding: 15px 20px;
}
.main h3 {
  font-size: 16px;
  border: 1px solid #666;
  color: #666;
  padding: 15px 20px;
  border-radius: 8px;
  margin: 24px 0 20px;
}
.main .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.main .gallery img {
  width: 270px;
  margin-right: 20px;
  cursor: pointer;
}
.main-info01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 26px 0 40px;
}
.main-info01 .day {
  font-size: 16px;
  line-height: 32px;
  padding-left: 20px;
  font-weight: bold;
}
.main-info01 .text {
  font-size: 16px;
  line-height: 32px;
  padding-left: 30px;
}
.main-info02 p {
  font-size: 16px;
  line-height: 32px;
  padding: 0 30px 0 20px;
}
.main-info02 p a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #666;
          text-decoration-color: #666;
}
.main-info02 p .look {
  background-color: #e5e5e5;
  padding: 8px 10px;
  margin: 5px 0;
}
.main-info02 p .look02 {
  color: #D08047;
}
.main-info02 h4 {
  font-size: 16px;
  font-weight: bold;
  color: #d08047;
  line-height: 32px;
  padding: 0 30px 0 20px;
}

footer {
  font-size: 13px;
  line-height: 27px;
  text-align: center;
}
footer .footer-top {
  margin-top: 50px;
}
footer .footer-bottom {
  margin-bottom: 20px;
}
footer a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer a:hover {
  color: #d08047;
}

.space01 {
  display: block;
  margin-top: 20px;
}

.space02 {
  display: block;
  margin-bottom: 25px;
}

.space03 {
  display: block;
  margin-bottom: 40px;
}

.table01 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 32px;
}
.table01 p {
  font-weight: bold;
  padding: 20px 10px;
  background-color: #eee;
  border: 1px solid #999;
}
.table01-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.table01-info .left {
  width: 30%;
  text-align: center;
}
.table01-info .left li {
  font-weight: bold;
  padding: 20px 0;
  border: 1px solid #999;
  border-top: 0;
}
.table01-info .right {
  width: 70%;
}
.table01-info .right li {
  padding: 20px 12px;
  border: 1px solid #999;
  border-top: 0;
  border-left: 0;
}

.table02 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 32px;
}
.table02 p {
  font-weight: bold;
  padding: 20px 10px;
  background-color: #eee;
  border: 1px solid #999;
}
.table02-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.table02-info .left {
  width: 30%;
  text-align: center;
}
.table02-info .left .site-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.table02-info .left .site-img li a {
  text-decoration: underline;
}
.table02-info .left .site-img img {
  width: 80%;
}
.table02-info .left li {
  font-weight: bold;
  padding: 20px 0;
  border: 1px solid #999;
  border-top: 0;
}
.table02-info .right {
  width: 70%;
}
.table02-info .right li {
  padding: 20px 12px;
  border: 1px solid #999;
  border-top: 0;
  border-left: 0;
}

.table03 {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 20px;
}
.table03 .item-box {
  padding: 15px;
  border: 1px solid #333;
}
.table03 .item-box a, .table03 .item-box p {
  display: inline-block;
  line-height: 32px;
}
.table03 .item-box a {
  text-decoration: underline;
}
.table03 .item01 {
  grid-column: 1/3;
}
.table03 .item02 img {
  max-width: 100%;
}
.table03 .item-box:nth-of-type(odd) {
  border-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table03 .item-box:nth-of-type(1) {
  background-color: #eee;
  border-left: 1px solid #333;
}
.table03 .item-box:not(:nth-of-type(1)) {
  border-top: 0;
}
.table03 .item-box:nth-of-type(even) {
  text-align: center;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

#wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
/*# sourceMappingURL=style.css.map */