//共通　フッター部分

footer{
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  .footer-top{
    margin-top: 50px;
  }
  .footer-bottom{
    margin-bottom: 20px;
  }
  a{
    transition: .3s;
  }
  a:hover{
    color: rgb(208,128,71);
  }
}