//共通　メニューバー

.menuNav{
  margin: 10px 0 20px;
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    li{
      width: 9%;
      transition: .5s;
      border-bottom: 5px solid rgba(208,128,71,0);
      a{
        display: block;
        font-size: 18px;
        width: 100%;
        padding-bottom: 20px;
        transition: .5s;
      }
    }
    li:hover{
      border-bottom: 5px solid rgb(208,128,71);

    }
    a:hover{
      color: #D08047;
    }
  }
}